.linea {
    width: 30px;
    border-bottom: 0.1px;
    border-style: solid;
}

.ajuste-columna {
    max-width: 400px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.punto {
    width: 10px;
    height: 10px;
    background: var(--lima);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.puntos {
    width: 12px;
    height: 12px;
    background: var(--zull);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.punto-no {
    width: 12px;
    height: 12px;
    background: #fafafa;
    border: 2px solid;
    border-color: var(--zull);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.btn-contactame {
    background-color: var(--antena2) !important;
}

.border-btn-contactame {
    border-color: var(--antena2) !important;
}

.letra-contactame {
    color: var(--zull) !important;
}

.btn-contactame:hover {
    background-color: var(--zull) !important;
    transition: 100ms;
}

.border-btn-contactame:hover {
    border-color: var(--antena2) !important;
    transition: 100ms;
}

.letra-contactame:hover {
    color: var(--antena2) !important;
    transition: 100ms;
}

.fill-habilidades {
    fill: var(--zull) !important;
}

.fill-habilidades:hover {
    fill: var(--antena2) !important;
    transition: 100ms;
}

.color-habilidades {
    color: var(--zull) !important;
}

.color-habilidades:hover {
    color: var(--antena2) !important;
    transition: 100ms;
}

.fill-proyectos {
    fill: var(--chicle) !important;
}

.fill-proyectos:hover {
    fill: var(--antena2) !important;
    transition: 100ms;
}

.color-proyectos {
    color: var(--chicle) !important;
}

.color-proyectos:hover {
    color: var(--antena2) !important;
    transition: 100ms;
}

.fill-cv {
    fill: var(--uva) !important;
}

.fill-cv:hover {
    fill: var(--antena2) !important;
    transition: 100ms;
}

.color-cv {
    color: var(--uva) !important;
}

.color-cv:hover {
    color: var(--antena2) !important;
    transition: 100ms;
}

.fill-rrss {
    fill: var(--negro) !important;
}

.fill-rrss:hover {
    fill: var(--antena2) !important;
    transition: 400ms;
}

.ajuste-border {
    padding-left: 0px;
    padding-right: 0px;
}

.espaciado-res {
    margin-bottom: 0px;
}

.borde-izq-cv {
    margin-right: 10px;
}

.borde-der-cv {
    margin-left: 10px;
    margin-right: -10px;
}

.boton-vermas {
    width: 100%;
    max-width: 200px;
    border-radius: 30px;
    text: center;
    background-color: #12191c;
    color: #fafafa;
    border: none;

}

.boton-vermas :hover {
    background-color: var(--uva);
    color: #fafafa;
    border-radius: 30px;
}

.ver-menos {
    visibility: hidden;
    position: absolute;
    z-index: -5;
}

.mbp-md-20 {
    margin-bottom: 0px;
}

.vis-575 {
    visibility: visible;
    position: inherit;
}
.invis-575 {
    visibility: hidden;
    position: absolute;
}
.vis-960 {
    visibility: visible;
    position: inherit;
}
.invis-960 {
    visibility: hidden;
    position: absolute;
}
.vis-lg-nonsm {
    visibility: visible;
    position: inherit;
}
.invis-lg-nonsm {
    visibility: hidden;
    position: absolute;
}

.proyect-title {
    font-size: 32px;
    font-weight: 600;
}

.hover-zull :hover{
    background-color: var(--zull);;
    color: var(--antena1);
    transition: 200ms;
}

  .hover-texto {
    color: var(--negro);
  }
  .hover-texto :hover{
    color: var(--antena1);
  }

  .card img {
    height: 100%;
    object-fit: cover;
  }
  .byn {
    filter: grayscale(100%);
    opacity: 0.3;
  }
  .byn:hover{
    filter: grayscale(100%);
    opacity: 0.6;
  }

  .splogo {
    min-width: 50px;
    min-height: 50px;
    background-image: url(media\logos\sp_comercial_w.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .scale1-1:hover{
    transform: scale(1.1);
    transition: 100ms;
  }

  @media (min-width: 1199px) {

    .fsp-18-responsive {
        font-size: 18px;
    }
    .icon-sp {
        height: 100px;
       width: 100px;
    }
    .icon-arh {
        height: 70px;
        /* width: 60px; */
    }
    .icon-sm {
        height: 70px;
        /* width: 60px; */
    }
    .icon-ingrid {
        /* height: 70px; */
        width: 80px;
    }
    .icon-bomberos {
        /* height: 70px; */
        width: 100px;
    }
    .icon-portas {
        height: 75px;
        /* width: 120px; */
    }
    .icon-port {
        height: 75px;
        /* width: 120px; */
    }
    .icon-aldo {
        height: 70px;
        /* width: 80px; */
    }
    .icon-septa {
        /* height: 70px; */
        width: 100px;
    }
    .icon-xerox {
        height: 30px;
        /* width: 100px; */
    }
}
@media (max-width: 1199px) {

    .espaciado-res {
        margin-bottom: 20px;
    }

    .borde-izq-cv {
        margin-right: 0px;
    }

    .borde-der-cv {
        margin-left: 0px;
    }

    .fsp-proyectos {
        font-size: 14px;
    }
    .icon-sp {
        height: 80px;
       width: 80px;
    }
    .icon-arh {
        height: 40px;
        /* width: 60px; */
    }
    .icon-sm {
        height: 50px;
        /* width: 60px; */
    }
    .icon-ingrid {
        /* height: 70px; */
        width: 70px;
    }
    .icon-bomberos {
        /* height: 70px; */
        width: 70px;
    }
    .icon-portas {
        height: 50px;
        /* width: 120px; */
    }
    .icon-port {
        height: 50px;
        /* width: 120px; */
    }
    .icon-aldo {
        height: 40px;
        /* width: 80px; */
    }
    .icon-septa {
        /* height: 70px; */
        width: 70px;
    }
    .icon-xerox {
        height: 20px;
        /* width: 100px; */
    }
}

@media (max-width: 1220px) {
    .ajuste-border {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 991px) {
    .vis-lg-nonsm {
        visibility: hidden;
        position: absolute;
    }
    .invis-lg-nonsm {
        visibility: visible;
        position: inherit;
    }
}
@media (max-width: 960px) {
    .vis-960 {
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }
    .invis-960 {
        visibility: visible;
        position: inherit;
    }
}
@media (max-width: 767px) {
    .mbp-md-20 {
        margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
    .vis-575 {
        visibility: hidden;
        position: absolute;
        z-index: -1;
    }
    .invis-575 {
        visibility: visible;
        position: inherit;
    }
    .vis-lg-nonsm {
        visibility: hidden;
        position: absolute;
    }
    .invis-lg-nonsm {
        visibility: hidden;
        position: absolute;
    }
}

  
  
  
  
  
  