.bandeja {
  width: 1300px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.parrafo {
  font-size: 20px;
}

.link-negro {
  font-size: 16px;
  color: #12191c;
}

.link-negro:hover{
  color: #0096d7;
  font-weight: 900;
}

.link-blanco {
  color:var(--blanco);
}
.link-blanco:hover {
  color:var(--celeste);
  font-weight: 900;
}



a:link, a:hover, a:visited, a:active, a:after, a {
  text-decoration:none;
  color: none;
}

@media (max-width: 1350px) {
  .bandeja {
    width: 1000px;
  }
}

@media (max-width: 1350px) and (min-width: 1200px) {
  .pass-1350 {
    display: flex!important;
  }
}
@media (max-width: 1050px) {
  .bandeja {
    width: 700px;
  }
}
@media (max-width: 790px) {
  .bandeja {
    width: 90%;
  }
  .parrafo {
    font-size: 16px;
  }
}