body {
    margin: 0px;
    padding: 0px;
    background-color: #ff0000;
}
.margenes {
    margin-left: 150px;

}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.centrado {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.contenedor {
    width: 1200px;
}


@media (max-width: 1300px){
    .contenedor {
        width: 1200px;
    }
}
@media (max-width: 1000px){
    .contenedor {
        width: 800px;
    }
}
@media (max-width: 800px){
    .contenedor {
        width: 600px;
    }
}
@media (max-width: 600px){
    .contenedor {
        width: 400px;
    }
}