.bandeja {
  width: 1300px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.parrafo {
  font-size: 20px;
}

.link-negro {
  font-size: 16px;
  color: #12191c;
}

.link-negro:hover {
  color: #0096d7;
  font-weight: 900;
}

.link-blanco {
  color: var(--blanco);
}

.link-blanco:hover {
  color: var(--celeste);
  font-weight: 900;
}

.p-5-responsive {
  padding: 3rem !important;
}

a:link,
a:hover,
a:visited,
a:active,
a:after,
a {
  text-decoration: none;
  color: none;
}

.contenido-oculto {
  visibility: hidden;
}


.boton-vermas {
  width: 100%;
  text: center;
  background-color: #12191c;
  color: #fafafa;
  border: none;

}

.boton-vermas :hover{
  background-color: #0096d7;
  color: #fafafa;
}

.ver-menos {
  visibility: hidden;
  position: absolute;
  z-index: -5;
}

.punto {
  width: 12px;
  height: 12px;
  background: #12191c;
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px; 
  border-radius: 6px;
}
.puntos {
  width: 16px;
  height: 16px;
  background: #12191c;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px; 
  border-radius: 8px;
}
.punto-no {
  width: 16px;
  height: 16px;
  background: #fafafa;
  border: 2px solid;
  border-color: #12191c;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px; 
  border-radius: 8px;
}

.ajuste-columna {
  max-width: 400px;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (max-width: 1350px) {
  .bandeja {
    width: 1000px;
  }
}

@media (max-width: 1350px) and (min-width: 1200px) {
  .pass-1350 {
    display: flex !important;
  }
}

@media (max-width: 1050px) {
  .bandeja {
    width: 700px;
  }
}

@media (max-width: 790px) {
  .bandeja {
    width: 90%;
  }

  .parrafo {
    font-size: 16px;
  }


  .p-5-responsive {
    padding: 1rem !important;
  }
}